body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  max-width: 695px;
  margin: 100px auto;
  padding: 0 26px;
  font-family: "Noto Sans", Helvetica;
}

.button-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
}

/* Base class --------------------> */
.btn {
  padding: 10px;
  border-radius: 4px;
  border: none;
  font-weight: 400px;
  font-size: 14px;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  letter-spacing: 0.4px;
}

.primary_btn {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(67, 56, 202, 1);
}

.secondary_btn {
}

.tertiary_btn {
}

.link_color_btn {
}

.link_grey_btn {
}

.destructive_btn {
}

/* Primary btn ---------------------> */
.primary_btn_size_md {
  width: 107px;
  height: 40px;
}

.primary_btn_size_lg {
  width: 148px;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  gap: 6px;
}

.primary_btn_size_xl {
  width: 156px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  gap: 10px;
}

.primary_btn_size_xxl {
  width: 148px;
  height: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.primary_btn_start_icon {
  width: 56px;
  height: 56px;
}

.primary_btn:hover {
}

.primary_btn:focus {
}

.primary_btn:disabled {
}

/* Secondary btn ---------------------> */
.secondary_btn_size_md {
}

.secondary_btn_size_lg {
}

.secondary_btn_size_xl {
}

.secondary_btn_size_xxl {
}

.secondary_btn:hover {
}

.secondary_btn:focus {
}

.secondary_btn:disabled {
}

/* Tertiary btn ---------------------> */
.tertiary_btn_size_md {
}

.tertiary_btn_size_lg {
}

.tertiary_btn_size_xl {
}

.tertiary_btn_size_xxl {
}

.tertiary_btn:hover {
}

.tertiary_btn:focus {
}

.tertiary_btn:disabled {
}

/* Link Color btn ---------------------> */
.link_color_btn_size_md {
}

.link_color_btn_size_lg {
}

.link_color_btn_size_xl {
}

.link_color_btn_size_xxl {
}

.link_color_btn:hover {
}

.link_color_btn:focus {
}

.link_color_btn:disabled {
}

/* Link Grey btn ---------------------> */
.link_grey_btn_size_md {
}

.link_grey_btn_size_lg {
}

.link_grey_btn_size_xl {
}

.link_grey_btn_size_xxl {
}

.link_grey_btn:hover {
}

.link_grey_btn:focus {
}

.link_grey_btn:disabled {
}

/* Destructive btn ---------------------> */
.destructive_btn_size_md {
}

.destructive_btn_size_lg {
}

.destructive_btn_size_xl {
}

.destructive_btn_size_xxl {
}

.destructive_btn:hover {
}

.destructive_btn:focus {
}

.destructive_btn:disabled {
}

@media (min-width: 768px) {
  .container {
    padding: 0;
  }

@media (min-width: 1440px) {
}
